<a href="/records/new" class="btn btn-primary mb-3">Create</a>
<ul class="list-group">
  {{#each record}}
  <li class="list-group-item">
    <div class="row">
      <div class="col-auto mr-auto">
        {{!-- <input type="checkbox" name="done" {{#if this.done}} checked{{/if}} disabled> --}}
        {{{this.name}}}
      </div>

      <div class="col-auto">
        <a href="/records/{{{this.id}}}" class="btn btn-secondary">detail</a>
        <a href="/records/{{{this.id}}}/edit" class="btn btn-success">修改</a>
        <form action="/records/{{{this.id}}}/delete?_method=DELETE" method="post" style="display: inline;">
          <button type="submit" class="btn btn-danger">刪除</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>