<form action="/records" method="POST">
  <div class="input-group mb-3">
    <input type="text" placeholder="name" name="name" class="form-control">
    <input type="text" placeholder="category" name="category" class="form-control">

    <input type="date" placeholder="date" name="date" class="form-control">
    <input type="text" placeholder="amount" name="amount" class="form-control">
    {{!-- <input type="text" placeholder="name" name="name" class="form-control"> --}}
    <div class="input-group-append">
      <button type="submit" class="btn btn-success">Create</button>
    </div>
  </div>
</form>