$color_brown= #9b4b4b

*
  font-family '微軟正黑體'
  transition 0.5s
  box-sizing border-box
  user-select: none
  outline: none
  margin 0
  padding 0
  
size(w=100%,h=w,bdrs=16px) 
  width w
  height h
  border-radius bdrs
  
flexCenter(j=center,a=j)
  display flex
  justify-content j
  align-items a

.total    
  flexCenter()
  margin-top 20px
  flex-direction column
  .filter
    margin 16px

.itemlist
  flexCenter()
  flex-direction column
  margin-top 16px
  .item
    margin-bottom 16px
    flexCenter(j=start)
    border 1px solid #000
    size(600px,60px)
    i
      font-size 40px
      flexCenter()
      size(100px,100%)
    .info
      flexCenter()
      flex-direction column
      size(200px,100%)
    h4
      flexCenter()
      size(200px,100%)
    .set
      right 0
      flexCenter()
      size(200px,100%)
      margin-right 0
      a,button
        text-decoration none
        color #222
        font-size 16px
        margin 4px
        border none
        background-color #fff


.add
  flexCenter()
  flex-direction column
  margin 16px
  h1
    margin-bottom 8px
  span
    color red
  button
    border none
    background-color #fff
    
  .addGroup
    margin 4px
    size(200px,100%)
    flexCenter()
    justify-content flex-start
    label
      margin-right 8px